.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cde5cf;
  }

  h2 {
    width: 300px;
    height: 16px;
    background-color: #d8eae7;
    border-radius: 9px;
    padding: 20px 30px;
    font-weight: 600;
    border: none;
    text-align: center;
   
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    text-align: center;

  }
  
  .description {
    margin: 20px 0;
  }
  
  .invested-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  
  .descriptionArea{
    background-color: #d8eae7;
    padding: 20px 30px;
    font-weight: 400;
    border-radius: 12px;
    border: none;
  }

 

  .withdraw-button {
    background-color: #0b1e60;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 900;
  }